<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Despliegue en Render</title>
  <link rel="stylesheet" href="/styles.css"> 
</head>

<body>

  <header>
    <h1>🚀 Aplicación Node.js en Render</h1>
    <h3>Este es el commit al que realizaremos en el futuro un rollback</h3>
    <p>Despliegue automático, rollback y gestión de fallos</p>
  </header>

  <main>
    <section class="card">
      <h2>Estado de la aplicación</h2>
      <p>Aplicación funcionando correctamente.</p>
      <a href="/estado" target="_blank">Ver estado JSON</a>
    </section>

    <section class="card">
      <h2>Objetivos del proyecto</h2>
      <ul>
        <li>Integración Git + Render</li>
        <li>Auto Deploy</li>
        <li>Rollback automático y manual</li>
      </ul>
    </section>
  </main>

  <footer>
    <p>Proyecto académico · Render + Node.js</p>
  </footer>

</body>

</html>
